<ion-view view-title="Waterweg werkt!">
  <ion-content>
    <Br><Br>
    <img src="img/ww.png" width="100%">
    <div class="padding">
      <h1>REGIONALE OPENBEDRIJVENDAG WATERWEG WERKT! 2016</h1>
      <h2>Hoi</h2>
      <h3>Hoi</h3>
      <h4>Hoi</h4>
      <h5>Hoi</h5>

      <h6>  test test test</h6>

      8f26583c04d56f51bbf69e44c1be10be3f0df761
      Op zaterdag 28 mei 2016 openen 40 bedrijven met veel enthousiasme de bedrijfspoorten voor het publiek. In de drie mooiste havensteden aan de Nieuwe Waterweg kun je kijken waar je normaal niet kunt kijken, vragen wat je altijd al had willen vragen en proeven wat je niet kent.
      Zet dus in je agenda: zaterdag 28 mei 2016 - open bedrijvendag Waterweg Werkt!
      <Br><Br>
    </div>
  </ion-content>
</ion-view>
