<ion-view view-title="Waterweg werkt!">
  <ion-content>
    <Br><Br>
<img src="img/ww.png" width="100%"><br>
    <img src="img/ww.png" width="100%">

<div class="padding">
  <h1>  REGIONALE OPENBEDRIJVENDAG WATERWEG WERKT! 2016</h1>
Op zaterdag 28 mei 2016 openen 40 bedrijven met veel enthousiasme de bedrijfspoorten voor het publiek. In de drie mooiste havensteden aan de Nieuwe Waterweg kun je kijken waar je normaal niet kunt kijken, vragen wat je altijd al had willen vragen en proeven wat je niet kent.
Zet dus in je agenda:
zaterdag 28 mei 2016 - open bedrijvendag Waterweg Werkt!
<Br><Br>

</div>
  </ion-content>
</ion-view>
