<ion-view view-title="Informatie">
  <ion-content class="padding">
    <div class="padding" style="font-size:22px; line-height:30px">
    <h1>Open bedrijvendag Waterweg Werkt! op zaterdag 28 mei 2016</h1>
  De open bedrijvendag Waterweg Werkt! is een gratis evenement. Iedereen die graag eens een kijkje neemt achter de schermen van de grote bedrijven, is van harte welkom om dit op zaterdag 28 mei 2016 te doen. En met iedereen bedoelen we ook iedereen: alle volwassenen, kinderen, scholieren, toekomstige werknemers, je buren, je vrienden en vriendinnen of je opa… mogen mee!
<Br><Br>
  Bij alle deelnemende bedrijven is er iets te beleven, te proeven of te bekijken. Van hapjes, drankjes en activiteiten tot creatieve workshops en spectaculaire rondleidingen. Op plekjes waar je normaal gesproken nooit zult komen...
</div>


  </ion-content>
</ion-view>
