<ion-view view-title="Praat mee">
  <ion-content><br>
    <div  class="padding">
    <h1>Login als bedrijf</h1>
<b>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
  </b>
    <Br>
      <span style="color:red"><b>{{error}}</b></span>

    </div>
    <div class="list">
      <label class="item item-input ">

        <input type="text" ng-model="data.wachtwoord" placeholder="Wachtwoord">
      </label>


      

        <button ng-click="inloggen(data)" type="text" class="button button-full button-positive">Login</button>

    </div>




  </ion-content>

</ion-view>
